<%= form_for(@article, html: {multipart: true}) do |f| %>


  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :body %> <%= submit_tag "Add Editor",:type => 'button', "onclick"=>"addArea2();" %>

    <%= submit_tag "Remove Editor",:type => 'button',"onclick"=>"removeArea2();" %><br />
        <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js">
    </script>
    <script type="text/javascript">
    var area1, area2;
    function addArea2() { area2 = new nicEditor({fullPanel : true}).panelInstance('myArea2');}
    function removeArea2() { area2.removeInstance('myArea2'); }
    bkLib.onDomLoaded(function() { toggleArea1(); });
    //]]>
    </script>
    <%= f.text_area :body, :id=>"myArea2" %>
  </p>
  <p>
  <% if @article.image.exists? %>
      <%= image_tag @article.image.url %><br/>
  <% end %>
  <%= f.label :image, "Attach a New Image" %><br />
  <%= f.file_field :image %>
</p>
  <p>
    <%= f.submit %>
  </p>
<% end %>